.card {
  transition: transform 0.3s, box-shadow 0.3s; /* Плавная анимация трансформации и тени */
  cursor: pointer;
}
/* Анимация при наведении */
.card-hover:hover {
  transform: translateY(-10px); /* Поднимаем карточку вверх */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}

.popular-card-cover {
  width: 280px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
