@if (isMain()){
  <body class="background-custom">
  <div class="wrapper">
    <header><app-header (scrollToSection)="scrollTo($event)" [decodedToken]="authService.decodeToken()"></app-header></header>
    <main style="margin-top: 100px">
      <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img ngSrc="assets/images/carousel1.png" class="d-block w-100 carousel-image" alt="..." height="650"
                 width="1920">
            <div class="carousel-caption d-none d-md-block custom-carousel-caption">
              <h1>Скидка 20 %</h1>
              <h3>На прохождение технического обслуживания</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img ngSrc="assets/images/carousel2.png" class="d-block w-100 carousel-image" alt="..." height="650"
                 width="1783">
            <div class="carousel-caption d-none d-md-block custom-carousel-caption">
              <h1>Скидка 20 %</h1>
              <h3>На прохождение технического обслуживания</h3>
            </div>
          </div>
          <div class="carousel-item">
            <img ngSrc="assets/images/carousel1.png" class="d-block w-100 carousel-image" alt="..." height="650"
                 width="1920">
            <div class="carousel-caption d-none d-md-block custom-carousel-caption">
              <h1>Third slide label</h1>
              <h3>Some representative placeholder content for the third slide.</h3>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <section id="services">
        <div class="container px-4 py-5" id="custom-cards">
          <h2 class="pb-2 border-bottom text-bisque" style="margin-top: 50px">Наши услуги</h2>

          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" id="services-container">
            @for (service of services(); track service.id) {
              <div class="col" id="${service.id}">
                <div (click)="showServiceDetails(service)"
                     class="card card-hover card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     [style.background-image]="'url(' + service.imageUrl + ')'" style="background-size: cover">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: bisque">{{ service.name }}</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="d-flex align-items-left me-3">
                        <h3 style="color: bisque">Стоимость: От {{ service.workPrice }} руб.</h3>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </section>
      <section id="reviews">
        <div id="review-carousel" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 100px">
          <div class="carousel-indicators" style="padding-bottom: 30px">
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#review-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <h1 class="text-center text-bisque">Отзывы наших клиентов</h1>
            <div class="carousel-item active">
              <img src="assets/images/reviews-background.png" class="d-block w-100" alt="...">
              <div class="overlay">
                <div class="review-container container text-bisque">
                  <div class="row mt-5">
                    <div class="col-md-6">
                      <div class="card review-card">
                        <div class="card-body bg-dark">
                          <div class="d-flex justify-content-between align-items-center mb-2 text-bisque">
                            <div>
                              <h5 class="mb-0">Иван Иванов</h5>
                              <p class="mb-0">31.01.2025</p>
                            </div>
                            <div style="padding-bottom: 20px">
                              <small style="font-size: 1em">5 <i class="fas fa-star" style="color: #fcff42"></i></small>
                            </div>
                          </div>
                          <p class="text-bisque">Отличный сервис! Быстро и качественно починили мой автомобиль.
                            Рекомендую!</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="card review-card">
                        <div class="card-body bg-dark">
                          <div class="d-flex justify-content-between align-items-center mb-2 text-bisque">
                            <div>
                              <h5 class="mb-0">Пятницкая Дарья</h5>
                              <p class="mb-0">15.01.2025</p>
                            </div>
                            <div style="padding-bottom: 20px">
                              <small style="font-size: 1em">5 <i class="fas fa-star" style="color: #fcff42"></i></small>
                            </div>
                          </div>
                          <p class="text-bisque">Очень довольна обслуживанием. Персонал вежливый и профессиональный.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/reviews-background.png" class="d-block w-100" alt="...">
              <div class="overlay">
                <div class="review-container container text-bisque">
                  <div class="row mt-5">
                    <div class="col-md-6">
                      <div class="card review-card">
                        <div class="card-body bg-dark text-bisque">
                          <div class="d-flex justify-content-between align-items-center mb-2 text-bisque">
                            <div>
                              <h5 class="mb-0">Иван Иванов</h5>
                              <p class="mb-0">31.01.2025</p>
                            </div>
                            <div style="padding-bottom: 20px">
                              <small style="font-size: 1em">5 <i class="fas fa-star" style="color: #fcff42"></i></small>
                            </div>
                          </div>
                          <p class="text-bisque">Отличный сервис! Быстро и качественно починили мой автомобиль.
                            Рекомендую!</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="card review-card">
                        <div class="card-body bg-dark text-bisque">
                          <div class="d-flex justify-content-between align-items-center mb-2 text-bisque">
                            <div>
                              <h5 class="mb-0">Пятницкая Дарья</h5>
                              <p class="mb-0">15.01.2025</p>
                            </div>
                            <div style="padding-bottom: 20px">
                              <small style="font-size: 1em">5 <i class="fas fa-star" style="color: #fcff42"></i></small>
                            </div>
                          </div>
                          <p class="text-bisque">Очень довольна обслуживанием. Персонал вежливый и профессиональный.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/reviews-background.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <a href="/reviews">
            <h3 style="text-decoration: underline" class="text-center text-bisque">Все отзывы</h3>
          </a>
          <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section id="contacts">
        <div class="container text-white" style="margin-bottom: 80px!important;">
          <h1 class="text-white">Контакты</h1>
          <div class="row">
            <div class="col-md-4 contact-info bg-dark rounded p-4">
              <p><strong>Адрес:</strong><br>г. Самара, Московское шоссе, дом</p>
              <p><strong>График работы:</strong><br>Пн-Пт с 9:00 до 18:00<br>Суббота с 10:00 до 17:00<br>Воскресенье - выходной</p>
              <p><strong>Телефоны горячей линии:</strong><br>+7 (000) 000 00 00<br>+7 (000) 000 00 01</p>
              <p><a href="mailto:login@domain.ru" class="text-danger">login&#64;domain.ru</a></p>
              <div class="d-flex">
                <a href="https://vk.com/licyi_ej" class="me-2"><i class="fab fa-vk" style="font-size: 30px; color: #c9f9ff"></i></a>
                <a href="https://t.me/YuriyValkov" class="me-2"><i class="fab fa-telegram" style="font-size: 30px;color: #c9f9ff"></i></a>
                <a href="https://github.com/ValkovYuriy" class="me-2"><i class="fab fa-github" style="font-size: 30px; color: #c9f9ff"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer><app-footer></app-footer></footer>
  </div>
  </body>
}
@else if(!isMain()){
  <router-outlet></router-outlet>
}


