<div id="orders" >
  <div class="container mt-4">
    <h2 class="mb-4">История обслуживания</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Автомобиль</th>
        <th>Дата и время записи</th>
        <th>Стоимость</th>
        <th>Статус</th>
        <th>Детали</th>
      </tr>
      </thead>
      <tbody id="customer-list">
      @for(order of orders ; track order.id){
        <tr>
          <td>Модель: {{order.carDto.modelDto?.modelName}}
              Марка: {{order.carDto.modelDto?.mark?.markName}}
          </td>
          <td >{{order.orderDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <td >{{order.price}} ₽</td>
          <td >
            @switch (order.status){
              @case ("PENDING"){
                <i class="fas fa-circle text-warning"></i> В обработке
              }
            }
          </td>

          <td><button class="btn btn-info btn-sm" (click)="showOrderDetails(order)">Подробнее</button></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
