<div id="orders" >
  <div class="container mt-4">
    <div class="d-flex">
      @if (authService.isAdmin()) {
        <h2 class="mb-4">Заявки на обслуживание</h2>
      } @else if (!authService.isAdmin()) {
        <h2 class="mb-4">История обслуживания</h2>
      }
    </div>
    <div class="pagination-controls mb-3">
      <button class="btn custom-btn" (click)="prevPage()" [disabled]="currentPage() === 1">
        ← Предыдущая
      </button>
      <span class="mx-3">
      Страница {{ currentPage() }} из {{ getTotalPages() }}
    </span>
      <button class="btn custom-btn" (click)="nextPage()" [disabled]="currentPage() === getTotalPages()">
        Следующая →
      </button>
    </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Автомобиль</th>
        <th>Дата и время записи</th>
        <th>Стоимость</th>
        <th>Статус</th>
        <th>Детали</th>
      </tr>
      </thead>
      <tbody id="customer-list">
      @for(order of getPaginatedData() ; track order.id){
        <tr>
          <td>Модель: {{order.carDto.modelDto?.modelName}}
              Марка: {{order.carDto.modelDto?.mark?.markName}}
          </td>
          <td >{{order.orderDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td >{{order.price}} ₽</td>
          <td >
            @switch (order.status){
              @case ("ACCEPTED"){
                <i class="fas fa-circle text-success"></i> Принят
              }
              @case ("PENDING"){
                <i class="fas fa-circle text-warning"></i> В обработке
              }
              @case ("REJECTED"){
                <i class="fas fa-circle text-danger"></i> Отклонен
              }
            }
            @if (authService.isAdmin()){
              <div class="d-flex">
                <button class="btn btn-success btn-sm m-1" (click)="updateStatus(order,Status.ACCEPTED)">Принять</button>
                <button class="btn btn-danger btn-sm m-1" (click)="updateStatus(order,Status.REJECTED)">Отклонить</button>
              </div>
            }
          </td>
          <td style="height: 100%;" class="d-flex align-items-center justify-content-center">
            <button class="btn btn-info btn-sm h-100" (click)="showOrderDetails(order)">
              Подробнее
            </button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
