<div id="orders" >
  <div class="container mt-4">
    <h2 class="mb-4">История обслуживания</h2>
    <!--                <input class="form-control mb-3" id="search" type="text" placeholder="Search...">-->
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Автомобиль</th>
        <th>Дата и время записи</th>
        <th>Стоимость</th>
        <th>Статус</th>
        <th>Детали</th>
      </tr>
      </thead>
      <tbody id="customer-list">
      @for(order of orders ; track order.id){
        <tr>
          <td>Модель: {{order.carDto.modelDto?.modelName}}
              Марка: {{order.carDto.modelDto?.mark?.markName}}
          </td>
          <td >{{order.orderDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <td >{{order.price}} ₽</td>
          <td >
            @switch (order.status){
              @case ("PENDING"){
                <i class="fas fa-circle text-warning"></i> В обработке
              }
            }
          </td>

          <td><button class="btn btn-info btn-sm" (click)="showOrderDetails(order)">Подробнее</button></td>
        </tr>
      }

<!--      <tr>-->
<!--        <td class="first-name">Jane</td>-->
<!--        <td class="last-name">Smith</td>-->
<!--        <td class="email">jane.smith&#64;example.com</td>-->
<!--        <td class="phone">987-654-3210</td>-->
<!--        <td class="status">-->
<!--          <i class="fas fa-circle text-success"></i> Принята-->
<!--        </td>-->
<!--        <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailsModal">Посмотреть</button></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td class="first-name">Emily</td>-->
<!--        <td class="last-name">Dickinson</td>-->
<!--        <td class="email">emily&#64;example.com</td>-->
<!--        <td class="phone">555-123-4567</td>-->
<!--        <td class="status">-->
<!--          <i class="fas fa-circle text-danger"></i> Отклонена-->
<!--        </td>-->
<!--        <td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailsModal">Посмотреть</button></td>-->
<!--      </tr>-->
<!--      &lt;!&ndash; Add more rows as needed &ndash;&gt;-->
      </tbody>
    </table>
  </div>
</div>
