<main class="content background-custom">
  <div class="container container-custom w-75">
    <h1 class="text-center mb-4">Отзывы о нашем автосервисе</h1>

    <!-- Фильтры -->
    <div class="row mb-4 justify-content-center">
      <div class="col-md-4 mb-4">
        <select class="form-select" id="ratingFilter" [(ngModel)]="selectedRating"
                (change)="applyFilters()">
          <option selected value="all">Сортировать по рейтингу</option>
          <option value="5">5 звезд</option>
          <option value="4">4 звезды</option>
          <option value="3">3 звезды</option>
          <option value="2">2 звезды</option>
          <option value="1">1 звезда</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-select" id="dateFilter" [(ngModel)]="selectedSort"
                (change)="applyFilters()">
          <option value="newest">Сначала новые</option>
          <option value="oldest">Сначала старые</option>
        </select>
      </div>
      <div class="col-md-2">
        <button routerLink="/" class="btn btn-primary" >На главную</button>
      </div>
      <div class="row" id="reviewsContainer">
        @for (review of filteredReviews(); track review.id){
          <div class="card mb-3" [ngClass]="getRatingClass(review.rating)">
            <div class="card-body">
              <div class="d-flex ">
                <h5 class="card-title">{{ review.userDto!.firstName }} {{ review.userDto!.lastName }} </h5>
                <h6 style="margin-left: auto; color: black"> {{ review.rating }} ⭐</h6>
              </div>
              <p class="card-text" >{{ review.reviewContent}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <p>{{ review.reviewDate | date: 'dd-MM-yyyy'}}</p>
              </div>
            </div>
          </div>
        }
      </div>

    </div>

    <!-- Список отзывов -->

    <!-- Форма для нового отзыва -->
    @if(authService.isLoggedIn()){
      <div class="container mt-5"  >
        <h2 class="text-center mb-4">Оставьте свой отзыв</h2>
        <form id="reviewForm">
          <div class="mb-3">
            <label for="review" class="form-label">Ваш отзыв</label>
            <textarea #reviewArea [(ngModel)]="review.reviewContent" name="reviewContent" (input)="updateCounter()" class="form-control" id="review" rows="3" required maxlength="1000"></textarea>
            <div #counter class="counter">0/1000</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Оценка</label>
            <bar-rating effect [(rate)]="rating" [max]="5" theme="stars"></bar-rating>
          </div>
          <button (click)="postReview()" type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    }
  </div>
</main>

