<nav class="navbar navbar-expand-md fixed-bottom navbar-dark bg-dark" >
  <p class="col-md-4 mb-0 " style="color: bisque">© 2025 Самарский университет</p>

  <a href="/"
     class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="assets/images/logo.png" alt="logo" width="40">
  </a>

  <ul class="nav ms-auto" >
    <li class="nav-item"><a href="/" class="nav-link" style="color: bisque">На главную</a></li>
<!--    <li class="nav-item"><a href="#" class="nav-link" style="color: bisque">О нас</a></li>-->
    <!-- Иконки социальных сетей -->
    <li class="nav-item">
      <a href="https://vk.com/licyi_ej" target="_blank" class="nav-link" style="color: bisque; font-size: 25px; padding-top: 3px" >
        <i class="fab fa-vk"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://t.me/YuriyValkov" target="_blank" class="nav-link" style="color: bisque; font-size: 25px; padding-top: 3px">
        <i class="fab fa-telegram"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/ValkovYuriy" target="_blank" class="nav-link" style="color: bisque; font-size: 25px; padding-top: 3px">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
