
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" style="position: relative">
              <img ngSrc="assets/images/anime-car-city.jpg" fill priority
                   alt="login form" style="border-radius: 1rem 0 0 1rem;"/>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="signIn" (submit)="login()">

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Вход в аккаунт</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" formControlName="email"
                           [ngClass]="{ 'is-invalid': signIn.get('email')?.invalid && signIn.get('email')?.touched }"/>
                    <label class="form-label" for="email">Адрес электронной почты</label>
                    <div class="invalid-feedback">
                      Введите корректный email.
                    </div>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="password"
                           [ngClass]="{ 'is-invalid': signIn.get('password')?.invalid && signIn.get('password')?.touched }"/>
                    <label class="form-label" for="password">Пароль</label>
                    <div class="invalid-feedback">
                      Пароль должен содержать минимум 4 символа.
                    </div>
                  </div>

                  @if(errorMessage){
                    <div class="alert alert-danger mt-3">
                      {{errorMessage}}
                    </div>
                  }

                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block w-100" type="submit">Войти</button>
                  </div>

                  <a class="small text-muted" href="#">Забыл пароль?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Еще нет аккаунта?
                    <a routerLink="/register" style="color: #393f81;">Зарегистроваться</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

