<div id="works" >

    <div class="d-flex">
      <h2 >Список услуг</h2>
      <div style="margin-left: auto">
        <i class="fas fa-add action-icon action-plus" (click)="showWorkDetails(null)">
        Добавить услугу</i>
      </div>
    </div>
    <div class="pagination-controls mb-3">
      <button class="btn custom-btn" (click)="prevPage()" [disabled]="currentPage() === 1">
        ← Предыдущая
      </button>
      <span class="mx-3">
      Страница {{ currentPage() }} из {{ getTotalPages() }}
    </span>
      <button class="btn custom-btn" (click)="nextPage()" [disabled]="currentPage() === getTotalPages()">
        Следующая →
      </button>
    </div>

    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr style="text-align: center;">
        <th >Услуга</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Картинка</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
        @for (work of getPaginatedData(); track work.id){
          <tr>
            <td>{{ work.name }}</td>
            <td>{{ work.description }}</td>
            <td>{{ work.workPrice }} ₽</td>
            <td style="width: 180px; height: 120px; text-align: center; vertical-align: middle;">
              @if(work.imageBase64) {
                <img
                  [src]="'data:image/jpeg;base64,' + work.imageBase64"
                  alt="{{ work.name }}"
                  style="max-width: 100%; max-height: 100%; object-fit: contain;"
                />
              } @else {
                <span>Нет изображения</span>
              }
            </td>
            <td>
              <i class="fas fa-edit action-icon action-edit" (click)="showWorkDetails(work,true)"> Изменить</i>
              <i class="fas fa-trash action-icon action-delete" (click)="deleteWork(work.id)"> Удалить</i>
            </td>
          </tr>
        }
      </tbody>
    </table>
</div>
