<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div class="custom-wrapper d-flex align-items-stretch">
  <nav #sidebar [ngClass]="{'active': isSidebarActive}" id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="d-flex justify-content-left align-items-center py-3">
      <img class="me-2" ngSrc="assets/images/logo.png" alt="logo" width="35" style="cursor: pointer; margin-left: 33px;"
           height="35">
      <h1 class="mb-0" style="margin-bottom: 10px">
        <a href="/" class="logo" style="color: bisque; padding: 1px 1px 1px">CARFIX</a>
      </h1>
    </div>
    <ul class="list-unstyled components mb-5" style="padding-left: 10px">
      <li>
        <a routerLink="/"><span class="fa fa-home mr-3" style="font-size: 24px; cursor: pointer"></span>Главная</a>
      </li>
      @if(authService.isAdmin()){
        <li>
          <a (click)="changeContent(1)"><span class="fa fa-wrench mr-3" style="font-size: 24px; cursor: pointer"></span>Управление услугами</a>
        </li>
        <li>
          <a (click)="changeContent(3)"><span class="fa-solid fa-list mr-3" style="font-size: 24px; cursor: pointer"></span>Управление заявками</a>
        </li>
      } @else {
        <li>
          <a (click)="changeContent(2)"><span class="fa fa-user mr-3" style="font-size: 24px; cursor: pointer"></span>Редактировать
            профиль</a>
        </li>
        <li>
          <a (click)="changeContent(3)"><span class="fa-solid fa-list mr-3"
                                              style="font-size: 24px; cursor: pointer"></span>История обслуживания</a>
        </li>
      }
      <li>
        <a routerLink="/login" (click)="authService.logout()"><span class="fa-solid fa-right-from-bracket mr-3" style="font-size: 24px; cursor: pointer"></span>Выйти</a>
      </li>
    </ul>
  </nav>


  <div class="main-content">
    <div #content id="content" class="p-4 p-md-5 pt-5">
      @switch (currentContent){
        @case (1){
          <app-works></app-works>
        }
        @case (2){
          <app-edit-profile></app-edit-profile>
        }
        @case (3){
          <app-orders></app-orders>
        }
      }
    </div>
  </div>
</div>
</body>
</html>

