.micro{
  cursor: pointer;
  font-size: 25px;
}

.micro-listening {
  color: #28a745;
}

.result{
  width: 100%;
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}

.buttons {
  display: flex;
  gap: 10px;
}

