<section class="vh-100">
  <div class="container  h-100" style="padding-left: 3rem; padding-right: 3rem">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col ">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block" style="position: relative;">
              <img ngSrc="assets/images/anime-car-city.jpg" alt="login form" style="border-radius: 1rem 0 0 1rem;" fill priority/>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="signUp" (submit)="register()" >
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Регистрация</h5>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="email">Адрес электронной почты</label>
                    <span class="required">*</span>
                    <input [ngClass]="{ 'is-invalid': signUp.get('email')?.invalid && signUp.get('email')?.touched }" formControlName="email" type="email" id="email" name="username" class="form-control form-control-lg" placeholder="name@example.com" />
                    @if (signUp.get('email')?.errors?.['required']) {
                      <div class="invalid-feedback">
                        Адрес электронной почты обязателен для заполнения.
                      </div>
                    } @else if (signUp.get('email')?.errors?.['email']){
                      <div class="invalid-feedback">
                        Введите корректный адрес электронной почты
                      </div>
                    } @else if (signUp.get('email')?.errors?.['minlength']) {
                      <div class="invalid-feedback">
                        Адрес электронной почты должен содержать минимум 5 символов.
                      </div>
                    } @else if (signUp.get('email')?.errors?.['maxlength']) {
                      <div class="invalid-feedback">
                        Адрес электронной почты должен содержать не более 50 символов.
                      </div>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="password">Пароль</label>
                    <span class="required">*</span>
                    <input [ngClass]="{ 'is-invalid': signUp.get('password')?.invalid && signUp.get('password')?.touched }" formControlName="password" type="password" id="password" class="form-control form-control-lg"/>
                    @if (signUp.get('password')?.errors?.['required']) {
                      <div class="invalid-feedback">
                        Пароль обязателен для заполнения.
                      </div>
                    } @else if (signUp.get('password')?.errors?.['minlength']) {
                      <div class="invalid-feedback">
                        Пароль должен содержать минимум 4 символа.
                      </div>
                    } @else if (signUp.get('password')?.errors?.['maxlength']) {
                      <div class="invalid-feedback">
                        Пароль должен содержать не более 30 символов.
                      </div>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="confirmPassword">Повторите пароль</label>
                    <span class="required">*</span>
                    <input [ngClass]="{ 'is-invalid': (signUp.get('confirmPassword')?.invalid || signUp.hasError('mismatch')) && signUp.get('confirmPassword')?.touched }" formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control form-control-lg"/>
                    @if (signUp.get('confirmPassword')?.errors?.['required']){
                      <div class="invalid-feedback">
                        Повторите пароль
                      </div>
                    } @else if (signUp.get('confirmPassword')?.errors?.['mismatch']){
                      <div class="invalid-feedback">
                        Пароли не совпадают.
                      </div>
                    }
                  </div>

                  <div data-mdb-input-init class="form-outline mb-3">
                    <label class="form-label" for="phone-number">Номер телефона</label>
                    <input [ngClass]="{ 'is-invalid': signUp.get('phoneNumber')?.invalid && signUp.get('phoneNumber')?.touched }" formControlName="phoneNumber" id="phone-number" mask="(000) 000-00-00" prefix="+7" [showMaskTyped]="true" type="text" name="phoneNumber" class="form-control form-control-lg"/>
                    <div class="invalid-feedback">
                      Введите корректный номер телефона (например, +79991234567).
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Имя и Фамилия</span>
                    <input [ngClass]="{ 'is-invalid': signUp.get('firstName')?.invalid && signUp.get('firstName')?.touched }" formControlName="firstName" type="text" class="form-control">
                    <input [ngClass]="{ 'is-invalid': signUp.get('lastName')?.invalid && signUp.get('lastName')?.touched }" formControlName="lastName" type="text" class="form-control">
                    @if(signUp.get('firstName')?.invalid && signUp.get('firstName')?.touched){
                      @if (signUp.get('firstName')?.errors?.['minlength']){
                        <div class="invalid-feedback">
                          Введите корректное имя (минимум 2 символа).
                        </div>
                      } @else if (signUp.get('firstName')?.errors?.['maxlength']){
                        <div class="invalid-feedback">
                          Введите корректное имя (максимум 100 символов).
                        </div>
                      }
                    } @else if (signUp.get('lastName')?.invalid && signUp.get('lastName')?.touched){
                      @if (signUp.get('lastName')?.errors?.['minlength']){
                        <div class="invalid-feedback">
                          Введите корректную фамилию (минимум 2 символа).
                        </div>
                      } @else if (signUp.get('lastName')?.errors?.['maxlength']){
                        <div class="invalid-feedback">
                          Введите корректную фамилию (максимум 100 символов).
                        </div>
                      }
                    }
                  </div>
                  <div data-mdb-input-init class="form-outline mb-2">
                    <label>
                      <input type="checkbox" formControlName="agreeToTerms" style="cursor: pointer"/> Я согласен на обработку моих <a routerLink="/privacy-policy" target="_blank">персональных
                      данных</a>
                    </label>
                  </div>
                  @if(errorMessage){
                    <div class="alert alert-danger mt-3">
                      {{errorMessage}}
                    </div>
                  }
                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block w-100" type="submit">Зарегистрироваться</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Уже есть аккаунт?
                    <a routerLink="/login" style="color: #393f81;">Войти</a>
                  </p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
